body{
    background: linear-gradient(90deg, rgb(85, 194, 241)0%, rgb(174, 129, 222)35% ,rgb(248, 41, 207)100%);
}
form{
    height: 500px;
    width:300px;
    background: #fff;
    padding:30px ;
    margin-top: 150px;
    border-radius: 10px;
}
.btn-primary{
    width:100% ;
    border-radius :50px; 
    border: NONE;
    background:linear-gradient(90deg, rgb(85, 194, 241)0%, rgb(174, 129, 222)35% ,rgb(248, 41, 207)100%);}
    
.form-control{
    color: #090909;
    border-bottom-color:black ;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
   
}
h4{
    font-size: 2em  !important;
    font-weight:700;
}
.form-label{
    font-family: 800 !important;
}
@media only screen and (max-width:600){
    form{
        width:100% !important
    }
}
.orsign{
    padding-top: 20px;
    font-size: 12px;

}
.lastclass{
     padding-top:6cqb;
     font-size: 12px
}
